{% load static i18n%}

<!DOCTYPE html>
<html dir="ltr" lang="zxx">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="description" content="Yevropa Orzusi Tour" />
    <meta name="keywords" content="travel agency, travel adventures, wanderlust, tourism, agency, vacation planning, trip, journey, exploration, voyage, getaway, adventure, travel guide, holiday destinations" />
    <meta name="author" content="Satipoff" />

    <title>Yevropa Orzusi Tour</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="images/logo/favicon.png" />
    <link rel="apple-touch-icon" href="images/logo/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="images/logo/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/logo/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="images/logo/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/logo/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="images/logo/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="images/logo/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="images/logo/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/logo/apple-touch-icon-180x180.png" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofGJzfuM5E98064u5+z2l+Atf8IPPjr984" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="vendor/select2/dist/css/select2.min.css"/> -->

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css" integrity="sha512-d0olNN35C6VLiulAobxYHZiXJmq+vl+BGIgAxQtD5+kqudro/xNMvv2yIHAciGHpExsIbKX3iLg+0B6d0k4+ZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="css/magnific-popup.css" />

    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" />
    <link rel="stylesheet" href="{% static "css/slick.css" %}" />
    <link rel="stylesheet" href="{% static "css/meanmenu.css" %}" />
    <link rel="stylesheet" href="{% static "css/nice-select.css" %}" />
    <link rel="stylesheet" href="{% static "css/animate.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/dark.css" %}">
    <link rel="stylesheet" href="{% static "css/myStyles.css" %}"/>
    <!-- <link rel="stylesheet" href="css/style-rtl.css" /> -->

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

    


    <script>
        /*$(document).ready(function(){
          $("#p123").click(function(){
            $.post("web/1.8html",data , function(response) {
              $('#p123').val("");
        	 $('#p123').html(response);
        });
          });
        }); }
        */


        $(document).ready(function() {
            var url = "web/1.8html";


            $("#p123").click(function() {
                $.post(url, {
                        name: "",
                        url: url
                    },
                    function(data, status) {
                        $(url).html(data);
                    });
            });
        });
    </script>



    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Preloader Start !-->
    <div id="preloader">
        <div id="preloader-status">
            <img src="{% static "images/preloader.gif" %}" alt="Preloader">
        </div>
    </div>
    <!-- Preloader End !-->

    <!-- Header Start !-->
    <header class="header-area style-1">
        <!-- Header Nav Menu Start -->
        <div class="header-menu-area sticky-header sticky_menu animated fadeIn Header_Menu" style="margin-top: 0px;">
            <div class="said-nav">
                <div class="said-nav_left">
                    <ul>
                        <li class="phone"><a href="tel:+9989325571">+998 90 965-06-05</a></li>
                        <li class="phone"><a href="tel:+74951234567">+998 90 965-06-05</a></li>
                        <li class="li1"><a href="">komilovm.dev@gmail.com</a></li>
                        <li class="li1"><a href="">O'zbekcha</a></li>
                        <li class="li1"><a href="">Ruscha</a></li>
                        <li class="li1"><a href="">Ingglizcha</a></li>
                    </ul>
                </div>
                <div class="said-nav_right">
                    <ul>
                        <li><a href=""><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-telegram  fa-xl"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="container muhakot">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-6 col-6 d-flex align-items-center">
                        <div class="logo">
                            <a href="{% url "home:homepage" %}" class="standard-logo"><img src="{% static "images/logo/nav-logo.png" %}" alt="logo"></a>
                            <a href="{% url "home:homepage" %}" class="sticky-logo"><img src="{% static "images/logo/nav-logo.png" %}" alt="logo"></a>
                            <a href="{% url "home:homepage" %}" class="retina-logo"><img src="{% static "images/logo/nav-logo.png" %}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-6 col-6 d-flex align-items-center justify-content-end">
                        <div class="menu d-inline-block">
                            <div class="mean-push"></div>
                            <nav id="main-menu" class="main-menu">
                                <ul>
                                    <li class="{% if request.path == '/homepage/' %}active{% endif %} dropdown">
                                        <a href="{% url "home:homepage" %}">Asosiy</a>
                                    </li>
                                    <li class="{% if request.path == '/about/' %}active{% endif %}">
                                        <a href="{% url "home:about" %}">Biz haqimizda</a>
                                    </li>
                                    <li class="{% if request.path == '/tur/' %}active{% endif %} dropdown">
                                        <a href="{% url "home:tur" %}">Turlar</a>
                                    </li>
                                    <li class="{% if request.path == '/contact/' %}active{% endif %}">
                                        <a href="{% url "home:contact" %}">Bog'lanish</a>
                                    </li>
                                </ul>
                            </nav>
                            
                        </div>
                        <!-- Header Button Start !-->
                        <div class="header-btn">
                            <div class="search-btn-wrapper">
                                <a href="#" class="search-btn">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                            </div>
                            <a href="#" class="user-login-btn">
                                <i class="fa-regular fa-user"></i>
                            </a>
                        </div>
                        <!-- Header Button Start !-->
                        <!-- Mobile Menu Toggle Button Start !-->
                        <div class="mobile-menu-bar d-lg-none text-end">
                            <a href="#" class="mobile-menu-toggle-btn"><i class="fas fa-bars"></i></a>
                        </div>
                        <!-- Mobile Menu Toggle Button End !-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Nav Menu End -->
    </header>
    <!-- Header End !-->

    <!-- Menu Sidebar Section Start -->
    <div class="menu-sidebar-area">
        <div class="menu-sidebar-wrapper">
            <div class="menu-sidebar-close">
                <button class="menu-sidebar-close-btn" id="menu_sidebar_close_btn">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="menu-sidebar-content">
                <div class="menu-sidebar-logo">
                    <a href="index.html"><img src="{% static "images/logo/nav-logo.png" %}" alt="logo"/></a>
                </div>
                <div class="mobile-nav-menu"></div>
                <div class="menu-sidebar-content">
                    <div class="menu-sidebar-single-widget">
                        <h5 class="menu-sidebar-title">Bog'lanish ma'lumotlari</h5>
                        <div class="header-contact-info">
                            <span><i class="fa-solid fa-location-dot"></i>Uzbekistan, Toshkent, Yunusobot</span>
                            <span><a href="mailto:hello@transico.com"><i
                                        class="fa-solid fa-envelope"></i>yevropaorzusitour@gmail.com</a> </span>
                            <span><a href="tel:+123-456-7890"><i class="fa-solid fa-phone"></i>+123-456-7890</a></span>
                        </div>
                        <div class="social-profile">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu Sidebar Section Start -->

    {% block content %}
    
    {% endblock content %}

        <!--- Start Footer !-->
    <footer class="footer bg-light-black">
        <div class="footer-sec">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <div class="footer-widget-logo">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{% static "images/logo/footer-logo.png" %}" alt="Footer Logo"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 ">
                        <div class="footer-widget footer-widget-info">
                            <h2 class="footer-widget-title">Yevropa Orzusi Tour haqida</h2>
                            <div class="footer-widget-contact">
                                <p class="desc">Yevropa Orzusi Tourda biz har bir sayohat kashfiyotlar, boyitish va abadiy xotiralar yaratish imkoniyati ekanligiga ishonamiz.</p>
                                <div class="footer-contact">
                                    <div class="contact-icon"><i class="fa-solid fa-location-dot"></i></div>
                                    <div class="contact"><span>Uzbekistan, Tashken, Yunusobot</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6">
                        <div class="footer-widget-menu-wrapper">
                            <div class="footer-widget widget_nav_menu">
                                <h2 class="footer-widget-title">Havolalar</h2>
                                <ul class="menu">
                                    <li><a href="{% url "home:homepage" %}">Asosiy</a></li>
                                    <li><a href="{% url "home:about" %}">Biz haqimizda</a></li>
                                    <li><a href="{% url "home:tur" %}">Sayohat</a></li>
                                    <li><a href="{% url "home:contact" %}">Bo'glanish</a></li>

                                </ul>
                            </div>
                            <div class="footer-widget widget_nav_menu">
                                <h2 class="footer-widget-title">Boshqa sahifalar</h2>
                                <ul class="menu">
                                    <li><a href="tour-details.html">Sarguzashtli sayohat</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 ">
                        <div class="footer-widget">
                            <h2 class="footer-widget-title">Bron qilish</h2>
                            <div class="footer-widget-contact">
                                <div class="footer-contact">
                                    <div class="contact-icon"><i class="fa-solid fa-phone"></i></div>
                                    <div class="contact-text"><a href="tel:+998331234567">+998331234567</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 ">
                        <div class="footer-widget">
                            <h2 class="footer-widget-title">Email pochta</h2>
                            <div class="footer-widget-contact">
                                <div class="footer-contact">
                                    <div class="contact-icon"><i class="fa-solid fa-envelope"></i></div>
                                    <div class="contact-text"><a href="mailto:yevropaorzusitour@gmail.com">yevropaorzusitour@gmail.com</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6  d-flex  justify-content-lg-end align-items-lg-end">
                        <div class="footer-widget">
                            <h2 class="footer-widget-title">Ijtimoiy tarmoqlar:</h2>
                            <div class="footer-widget-social">
                                <div class="social-profile">
                                    <a href="https://www.facebook.com//"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                                    <a href="https://twitter.com//"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-bottom-wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright-text">
                                <p><a href="https://www.satipov.uz">Copyright &copy;</a> Yevropa Orzusi</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="footer-bottom-menu">
                                <ul>
                                    <li><a href="{% url "home:contact" %}">Bog'lanish</a></li>
                                    {% comment %} <li><a href="#">Privacy policy</a></li>
                                    <li><a href="#">Terms & conditions</a></li> {% endcomment %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--- End Footer !-->

    <!-- Header Search Bar Modal Start -->
    <div class="search-form-wrapper">
        <div class="search-form-inner">
            <div class="search-content-filed">
                <form role="search" method="get" class="search-form" action="#">
                    <input type="hidden" name="post_type" value="post" />
                    <div class="search-form-input">
                        <div class="search-icon">
                            <i class="icon-search"></i>
                        </div>
                        <input type="search" placeholder="Search" />
                        <button class="theme-btn" type="submit" title="Search" aria-label="Search">Search</button>
                    </div>
                </form>
                <span class="search-close">
                    <i class="fa-light fa-xmark"></i>
                </span>
            </div>
        </div>
    </div>
    <!-- Header Search Bar Modal End -->

    <!-- Scroll Up Section Start -->
    <div id="scrollTop" class="scrollup-wrapper">
        <div class="scrollup-btn">
            <i class="fa-solid fa-arrow-up"></i>
        </div>
    </div>
    <!-- Scroll Up Section End -->

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.nice-select.min.js" %}"></script>
    <script src="{% static "js/slick.min.js" %}"></script>
    <script src="{% static "js/jquery.counterup.min.js" %}"></script>
    <script src="{% static "js/waypoints.js" %}"></script>
    <script src="{% static "js/jquery.meanmenu.min.js" %}"></script>
    <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "js/inview.min.js" %}"></script>
    <script src="{% static "js/wow.js" %}"></script>
    <script src="{% static "js/tilt.jquery.js" %}"></script>
    <script src="{% static "js/isotope.min.js" %}"></script>
    <script src="{% static "js/jquery.imagesloaded.min.js" %}"></script>
    <script src="{% static "js/select2.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
</body>

</html>