{% extends "base.html" %}

{% load static %}

{% block content %}
    <!-- Contact-info Section Start !-->
    <div class="contact-info-area">
        <div class="container">
            <div class="row gx-xl-5 gy-4 mt-10">
                <div class="col-xl-4 col-md-6">
                    <div class="icon-card style-2">
                        <div class="icon">
                            <i class="fa-solid fa-phone-volume"></i>
                        </div>
                        <div class="content">
                            <h2 class="title">Aloqa raqami</h2>
                            <div class="info">
                                <span class="contact-text">+998 95 175 12 12</span>
                                <span class="contact-text">+998 95 174 12 12</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="icon-card style-2">
                        <div class="icon">
                            <i class="fa-solid fa-calendar"></i>
                        </div>
                        <div class="content">
                            <h2 class="title">Email pochta</h2>
                            <div class="info">
                                <span class="address-desc">yevropaorzusi@gmail.com</span><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="icon-card style-2">
                        <div class="icon">
                            <i class="fa-solid fa-message"></i>
                        </div>
                        <div class="content">
                            <h2 class="title">Ofis Manzili</h2>
                            <div class="info">
                                <span class="address-desc">Toshkent,<br>Muqumiy kochasi 3b uy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact-info Section End -->

    <!-- Contact Form Section Start -->
    <div class="contact-form-area">
        <!-- Submit form Start -->
        <div class="container">
            <div class=" row gy-5">
                <div class="col-lg-3 justify-content-center">

                </div>
                <div class="col-lg-7 ">
                    <!-- Comment Form Start -->
                    <div class="comment-respond justify-content-center">
                        <form action="#" method="post" class="comment-form">
                            {% csrf_token %}
                            <div class="row g-4">
                                <div class="col-xl-6">
                                    <div class="contacts-name">
                                        <label for="author">F.I.O</label>
                                        {{form.full_name}}
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="contacts-email">
                                        <label for="email">Email Pochta</label>
                                        {{form.email}}
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="contacts-phone">
                                        <label for="phone">Telefon raqam</label>
                                        {{form.phone}}
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="contacts-subject">
                                        <label for="subject">Mavzu</label>
                                        {{form.mavzu}}
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="contacts-message">
                                        <label for="comment">Savolingiz</label>
                                        {{form.comment}}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="theme-btn" type="submit">Jo'natish</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Comment Form End -->
                </div>
            </div>
        </div>
        <!-- Submit form End -->
    </div>
    <!-- Contact Form Section End -->

{% endblock content %}