{% extends "base.html" %}

{% load static humanize%}



{% block content %}
    <!-- Banner Section Start !-->
    <div class="slider-area style-1" style="background-image: url('images/hero-section/bg-1.jpg')">
        <img class="banner-shape-1 wow slideInLeft" src="{% static "images/shape/wave.png" %}" alt="Shape">
        <img class="banner-shape-2 wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms" src="{% static "images/shape/send-msg.png" %}" alt="Shape">
        <img class="banner-shape-3 wow slideInDown" src="{% static "images/shape/sky.png" %}" alt="Shape">
        <img class="banner-shape-4 wow zoomInUp" src="{% static "images/shape/dots.png" %}" alt="Shape">
        <div class="slider-wrapper">
            <div>
                <div class="single-slider">
                    <div class="container h-100 align-self-center">
                        <div class="content-wrapper">
                            <div class="row h-100">
                                <div class="col-md-5 align-self-center order-2 order-md-1">
                                    <div class="slider-content-wrapper">
                                        <div class="slider-content">
                                            <img class="topbar-shape" src="{% static "images/shape/highlight.png" %}" alt="Shape">
                                            <span class="slider-short-title">Tur va Sayohatlar</span>
                                            <h1 class="slider-title">Biz bilan birga butun dunyoni kezing</h1>
                                            <img class="bottom-shape" src="{% static "images/shape/bottom-bar.png" %}" alt="Bottom Shape">
                                            <p class="slider-short-desc">
                                                <form name="test" action="web/1.8html" method="post">

                                                    <p class="slider-short-desc">Qiziqarli sayohatga tayyor bo'ling! Bizning katta yurtlar orasida sayohat qilish orzu qilayotganlar uchun bu harakat, sizni ajoyib dunyoqarashlarga olib keladi.</p>

                                                </form>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 align-self-center order-1 order-md-2">
                                    <div class="slider-image">
                                        <img src="{% static "images/hero-section/image-1.png" %}" alt="feature image" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <!-- <div class="location-filter-wrapper">
                                    <div class="location-filter-card style-1">
                                        <form action="#">
                                            <div class="single-item">
                                                <label for="state" class="select-location">Location</label>
                                                <select class="select-location-inner" id="state" name="state">
                                                    <option value="AL">Maldivs</option>
                                                    <option value="WY">Colombia</option>
                                                    <option value="WY">Istanbul</option>
                                                    <option value="WY">Morocco</option>
                                                    <option value="WY">New york</option>
                                                    <option value="WY">Russia </option>
                                                </select>
                                            </div>
                                            <div class="single-item">
                                                <label class="datepicker" for="datepicker">Date</label>
                                                <input type="text" id="datepicker" value="26 Mar, Fri">
                                            </div>
                                            <div class="single-item price-range-inner">
                                                <span class="priceLabel">Price</span>
                                                <span id="priceValue">$<span id="min-value"></span>-<span id="max-value"></span></span>
                                                <div class="priceSlider">
                                                    <div class="min-max-range">
                                                        <label for="min">Low price</label>
                                                        <input type="range" min="0" max="5000" value="2000" class="range" id="min">
                                                        <label for="min">High price</label>
                                                        <input type="range" min="5001" max="10000" value="8000" class="range" id="max">
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="style-1" type="submit"><i class="icon-search"></i></button>
                                        </form>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End !-->

    <!--- Location Slider Area Start !-->
    <div class="location-slider-area style-1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <div class="sec-content">
                            <img class="topbar-shape-2" src="{% static "images/shape/three-line-shape.png" %}" alt="Shape">
                            <span class="short-title">Belgilangan manzil</span>
                            <h2 class="title">Ommabop manzillar</h2>
                            <img class="bottom-shape" src="{% static "images/shape/bottom-bar.png" %}" alt="Bottom Shape">
                        </div>
                        <div class="location-slider-arrow">
                            <button type="button" class="location-arrow-btn prev-btn" id="trigger_location_prev"><i class="fa-solid fa-arrow-left"></i></button>
                            <button type="button" class="location-arrow-btn next-btn" id="trigger_location_next"><i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="location-slider-wrapper" id="location-slider-wrapper">
                <!--- Single Location Start !-->
                {% for man in manzillar %}
                <div class="location-card style-1 wow fadeInUp" data-wow-delay="0s">
                    <div class="image-wrapper">
                        <a class="image-inner" href="{% url "home:tur" %}">
                            <img src="{{man.image.url}}" alt="Location Image">
                        </a>
                    </div>
                </div> 
                {% endfor %}
                
                
            </div>
        </div>
    </div>
    <!--- Location Slider Area Start !-->

    <!-- About Us Area Start -->
    <div class="about-us-area style-1">
        <img class="shape-1 wow zoomInDown" src="{% static "images/shape/dots.png" %}" alt="Shape">
        <div class="container">
            <div class="about-us-wrapper">
                <div class="row">
                    <div class="col-xl-5 order-xl-1 order-2 wow fadeInLeft" data-wow-delay=".4s">
                        <div class="about-us-content-wrapper-1">
                            <div class="section-title">
                                <div class="sec-content">
                                    <span class="short-title">Biz haqimizda</span>
                                    <h2 class="title">Biz odamlar uchun ajoyib sayohatlarni taqdim etamiz</h2>
                                    <img class="bottom-shape" src="{% static "images/shape/bottom-bar.png" %}" alt="Bottom Shape">
                                </div>
                            </div>
                            <div class="info-card style-1">
                                <div class="icon-wrapper">
                                    <img src="{% static "images/icon/folding-map.png" %}" alt="Icon">
                                </div>
                                <div class="content">
                                    <h6 class="title">Eng yaxshi tur manbai</h6>
                                    <p class="desc">Biz mijozlar uchun mahsulotlarni qat'iy ravishda tekshiramiz</p>
                                </div>
                            </div>
                            <div class="info-card style-1">
                                <div class="icon-wrapper">
                                    <img src="{% static "images/icon/ticket.png" %}" alt="Icon">
                                </div>
                                <div class="content">
                                    <h6 class="title">Jahon darajasi</h6>
                                    <p class="desc">Barcha baxt to'g'ri istiqbolda qurilgan, Biz mijozlarimiz uchun mukammallikka intilamiz</p>
                                </div>
                            </div>
                            <div class="meta-wrapper">
                                <a href="about.html" class="theme-btn">Batafsil ma'lumot</a>


                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 order-xl-2 order-1 wow fadeInRight" data-wow-delay=".4s">
                        <div class="about-us-image-wrapper-1">
                            <img class="bg-shape" src="{% static "images/about-us-area/image-wrapper-bg-1.png" %}" alt="Shape">
                            <div class="image-wrapper style-1">
                                <img src="{% static "images/about-us-area/img-1.jpg" %}" alt=" Vacation Image">
                            </div>
                            <div class="image-wrapper style-2">
                                <img src="{% static "images/about-us-area/img-2.jpg" %}" alt=" Vacation Image">
                            </div>
                            <div class="image-wrapper style-3">
                                <img src="{% static "images/about-us-area/img-3.jpg" %}" alt=" Vacation Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Area Start -->

    <!-- Location Area Start -->
    <div class="location-area style-1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title  align-content-center justify-content-center text-center">
                        <div class="sec-content">
                            <span class="short-title">Ommabop tur paketlar</span>
                            <h2 class="title">Ommabop turlarni toping</h2>
                            <img class="bottom-shape" src="{% static "images/shape/bottom-bar.png" %}" alt="Bottom Shape">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-4">
                <!--- Single Location Start !-->
                {% for tur in tur_paketla %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0s">
                        <div class="location-card style-2">
                            <div class="image-wrapper">
                                <div class="image-inner">

                                    <button id="p123"><a href="{% url "home:tur_detail" tur.slug %}"><img src="{% if tur.image %}{{tur.image.url}}{% endif %}" alt="Location Image"> </a></button>

                                </div>

                                <a href="#" class="favourite-icon active"><i class="fa-solid fa-heart"></i></a>
                            </div>
                            <div class="content-wrapper">
                                <div class="content-inner">
                                    <span class="price">{{tur.price | intcomma}} UZS</span>
                                    <h3 id="wel" class="content1"><a href="{% url "home:tur_detail" tur.slug %}">{{tur.title}}</a></h3>
                                    <div class="time-zone">
                                        <div class="time-zone-inner">
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p class="title">{{tur.location | truncatechars:26}}</p>
                                        </div>
                                        <div class="time-zone-inner">
                                            <i class="fa-solid fa-clock"></i>
                                            <p class="title">{{tur.kuni}} kun</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!--- Single Location End !-->
                <!--- Single Location Start !-->

                <!--- Single Location End !-->
                <!--- Single Location End !-->
            </div>
        </div>
    </div>
    <!-- Location Area End -->

    <!-- Why Choose Us Area  Start-->
    <div class="why-choose-us-area style-1">
        <img class="shape-1 wow zoomInDown" src="{% static "images/shape/half-circle-2.png" %}" alt="Shape">
        <img class="shape-2 wow zoomInUp" src="{% static "images/shape/dots.png" %}" alt="Shape">
        <div class="container">
            <div class="row gy-4">
                <div class="col-xl-4 col-lg-6 wow fadeInLeft" data-wow-delay=".4s">
                    <div class="section-title">
                        <div class="sec-content">
                            <span class="short-title">Nega biz?</span>
                            <h2 class="title">Yevropa Orzusi Tour bilan eng yaxshi sayohat tajribasini oling</h2>
                            <img class="bottom-shape" src="{% static "images/shape/bottom-bar.png" %}" alt="Bottom Shape">
                        </div>
                        <div class="sec-desc">
                        </div>
                        <div class="sec-btn">
                            <a href="#" class="theme-btn">Batafsil ma'lumot</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 align-self-center wow fadeInDown" data-wow-delay=".6s">
                    <div class="image-wrapper">
                        <img src="{% static "images/why-choose-us-area/choose-us-img-1.png" %}" alt="Choose Us Image">
                    </div>
                </div>
                <div class="col-xl-4 wow fadeInRight" data-wow-delay=".4s">
                    <div class="info-wrapper">
                        <div class="info-card style-1">
                            <div class="icon-wrapper">
                                <img src="{% static "images/icon/folding-map.png" %}" alt="Icon">
                            </div>
                            <div class="content">
                                <h6 class="title">Turistik rahbar</h6>
                                <p class="desc">Hech kim zavqlanishdan qochmaydi, chunki u qattiq tabiatdir yoki undan zavqlanmaydi</p>
                            </div>
                        </div>
                        <div class="info-card style-1">
                            <div class="icon-wrapper">
                                <img src="{% static "images/icon/ticket.png" %}" alt="Icon">
                            </div>
                            <div class="content">
                                <h6 class="title">Qulay narx</h6>
                                <p class="desc">Yuqori sifat va arzon narxlar uyg’unligi faqat bizda</p>
                            </div>
                        </div>
                        <div class="info-card style-1">
                            <div class="icon-wrapper">
                                <img src="{% static "images/icon/calender.png" %}" alt="Icon">
                            </div>
                            <div class="content">
                                <h6 class="title">Qo'llab-quvvatlash</h6>
                                <p class="desc">Sayohatingiz davomida 24/7 qo’llab-quvvatlaymiz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us Area  End-->

    <!-- Process Step Area Start  -->
    <div class="process-step-area style-1">
        <div class="container">
            <img class="bg-shape" src="{% static "images/shape/elements.png" %}" alt="Shape">
            <div class="section-title justify-content-center text-center">
                <div class="sec-content">
                    <span class="short-title">Bizning jarayon</span>
                    <h2 class="title">Bizda imkoniyatlar katta!</h2>
                    <img class="bottom-shape" src="{% static "images/shape/bottom-bar.png" %}" alt="Bottom Shape">
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="0s">
                    <div class="process-card style-1">
                        <div class="img-wrapper wow">
                            <img src="{% static "images/process-step-area/image-1.png" %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">Buyurtma qiling va dam oling</h4>
                            <p class="desc">Bizning saytdan o'son bron qiling va sayohat qiling</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="process-card style-1">
                        <div class="img-wrapper">
                            <img src="{% static "images/process-step-area/image-2.png" %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">Aqlli nazorat ro'yxati</h4>
                            <p class="desc">Bizning nazorat sistemamiz sinab ko'ring</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="process-card style-1 ">
                        <div class="img-wrapper">
                            <img src="{% static "images/process-step-area/image-3.png" %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">Ko'proq tejang</h4>
                            <p class="desc">Biz bilan pulingizni tejang</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Process Step Area End  -->



    <!-- Testimonial Slider Area Start -->
    <!-- Testimonial Slider Area End -->


{% endblock content%}