{% extends "base.html" %}

{% load static humanize%}

{% block content %}

    <!-- Page Header Start !-->

    <!-- Page Header End !-->

    <!-- Location Area Start -->
    <div class="tour-area">
        <div class="location-area style-1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title  align-content-center justify-content-center text-center">
                            <div class="sec-content">
                                <h2 class="title">Ommabop turlar</h2>
                                <img class="bottom-shape" src="{% static "images/shape/bottom-bar.png" %}" alt="Bottom Shape">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="portfolio-filter">
                            <li class="active" data-filter="*">Barchasi</li>
                            {% comment %} <li data-filter=".resort">Resort</li>
                            <li data-filter=".mountain">Mountain Hiking</li>
                            <li data-filter=".beach">Beach</li>
                            <li data-filter=".forest">Forest</li> {% endcomment %}
                        </ul>
                    </div>
                </div>
                <div class="isotope-grid">
                    <div class="row gy-4">

                        {% for tur in tur_paketla %}
                            <div class="col-lg-4 col-md-6 masonry-portfolio-item resort beach wow fadeInUp" data-wow-delay="0s">
                                <div class="location-card style-2">
                                    <div class="image-wrapper">
                                        <a href="{% url "home:tur_detail" tur.slug %}" class="image-inner">
                                            <img src="{{tur.image.url}}" alt="Location Image">
                                        </a>
                                        <div class="favourite-icon">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                    </div>
                                    <div class="content-wrapper">
                                        <div class="content-inner">
                                            <h5 class="price"><span class="">{{tur.price | intcomma}}</span> UZS</h5>
                                            <h3 class="content1"><a href="{% url "home:tur_detail" tur.slug %}">{{tur.title}}</a></h3>
                                            <div class="time-zone">
                                                <div class="time-zone-inner">
                                                    <i class="fa-solid fa-location-dot"></i>
                                                    <p class="title">{{tur.location | truncatechars:26}}</p>
                                                </div>
                                                <div class="time-zone-inner">
                                                    <i class="fa-solid fa-clock"></i>
                                                    <p class="title">{{tur.kuni}} kun</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                {% comment %} <div class="basic-pagination">
                    <ul class="justify-content-center">
                        <li><span aria-current="page" class="page-numbers current">1</span></li>
                        <li><a class="page-numbers" href="#">2</a></li>
                        <li><a class="page-numbers" href="#">3</a></li>
                        <li><span class="page-numbers dots">…</span></li>
                        <li><a class="page-numbers" href="#">5</a></li>
                        <li><a class="next page-numbers" href="#"><i class="fa fa-arrow-right"></i></a></li>
                    </ul>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    <!-- Location Area End -->

{% endblock content %}