{% extends "base.html" %}

{% load static humanize %}


{% block content %}


    <!-- Page Header Start !-->

    <!-- Page Header End !-->

    <!-- Tour Details Area Start -->
    <div class="blog-area tour-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 blog-details-wrapper">
                    <!-- Post Details Start -->
                    <article class="single-post-item">
                        <div class="post-title-wrapper">
                            <h3 class="post">
                                <a class="color1" href="blog-details.html">{{tur_paket.title}}</a>
                            </h3>
                            <div class="rating">

                            </div>
                        </div>
                        <div class="post-meta style-2">
                            <div class="post-meta-inner">
                                <div class="date-info">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <p class="date">{{tur_paket.location}}</p>
                                </div>
                                <div class="time-info">
                                    <i class="fa-solid fa-clock"></i>
                                    <p class="time">{{tur_paket.kuni}} Kun</p>
                                </div>
                            </div>
                            <h5 class="price">{{ tur_paket.price | intcomma }} UZS</h5>
                        </div>
                        <div class="post-thumbnail">
                            <a href="#">
                                <img src="{{tur_paket.image.url}}" alt="Blog Image" />
                            </a>
                        </div>
                        <div class="post-content-wrapper">
                            <div class="post-content">
                                <h4>Tavsif</h4>
                                <p>{{tur_paket.desc | safe}}</p>
                                <div class="post-card-divider"></div>
                                <div class="list-item-wrapper">
                                    <div class="single-item-list">
                                        <h6>Narx o'z ichiga oladi</h6>
                                        <ul>
                                            {% for kirade in includes %}
                                                <li>{{kirade.title}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="single-item-list">
                                        <h6>Narx bundan mustasno</h6>
                                        <ul>
                                            {% for kirmidi in excludes %}
                                                <li>{{kirmidi.title}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="post-card-divider"></div>
                                <h4>Qoshimcha suratlar</h4>
                                <div class="post-gallery-columns-2">
                                    {% for imag in images %}
                                        <div class="post-gallery-item">
                                            <img src="{{imag.image.url}}" alt="image">
                                        </div>
                                    {% endfor %}

                                </div>
                                <div class="post-card-divider"></div>

                                {% comment %} <h4>Tour map</h4>
                                <div class="map-wedget">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115860.91759646642!2d89.28780421873043!3d24.84151459710791!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fc54e7e81df441%3A0x27133ed921fe73f4!2sBogura!5e0!3m2!1sen!2sbd!4v1684842047185!5m2!1sen!2sbd"
                                        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </article>

                    <!-- Post Details End -->
                </div>
                <!-- Blog Sidebar Start -->
                <div class="col-lg-4 order-1 order-lg-2">
                    <div class="sidebar">
                        <div class="widget widget_booking_form">
                            <h3 class="title">Ushbu turni bron qiling</h3>
                            <form action="#" method="post" class="comment-form">
                                {% csrf_token %}
                                <div class="row g-4">
                                    <div class="col-xl-12">
                                        <div class="contacts-name input-wrapper">
                                            <label>F.I.O</label>
                                            {{form.full_name}}
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contacts-email input-wrapper">
                                            <label>Email pochta</label>
                                            {{form.email}}
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contacts-phone input-wrapper">
                                            <label>Telefon raqam</label>
                                            {{form.phone}}
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contacts-date input-wrapper">
                                            <label>Sana</label>
                                            {{form.date}}
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contacts-tour input-wrapper">
                                            <label>Tur nomi</label>
                                            <input name="tour" type="text" placeholder="Tour" value="{{ tur_paket.title }}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contacts-tour input-wrapper">
                                            <label>Jonatilgan formlar:</label>
                                            <input name="tour" type="text" placeholder="Tour" value="{{ form_submissions_count }}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="theme-btn" type="submit">
                                            <span class="swip">
                                                <span class="title-wrapper">
                                                    <span class="title-1">Bron qilish</span>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}